<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<!-- Lọc tất cả các URL -->
		<!-- <mvc:exclude-mapping path="/Less7/index.htm"/>
		<bean class="qltb.interceptor.LoggerInterceptor" />
		 -->
		
		 <!-- Chỉ lọc các URL theo path -->
		 <mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/index.htm"/>
			<bean class="qltb.interceptor.LoggerInterceptor" />
		</mvc:interceptor>
		
		  <mvc:interceptor>
			<mvc:mapping path="/administration/**"/>
			<mvc:mapping path="/bill/**"/>
			<mvc:exclude-mapping path="/administration/changepass.htm"/>
			<bean class="qltb.interceptor.AdminInterceptor" />
		</mvc:interceptor> 
	</mvc:interceptors>

</beans>