USE [master]
GO
/****** Object:  Database [QLTB]    Script Date: 6/2/2022 9:51:12 PM ******/
CREATE DATABASE [QLTB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL', FILENAME = N'D:\Microsoft SQL Server 2014\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_log', FILENAME = N'D:\Microsoft SQL Server 2014\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTB]
GO
/****** Object:  UserDefinedFunction [dbo].[Tong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Tong] (@a int, @b int)
RETURNS int
AS
BEGIN
return @a+@b
END
GO
/****** Object:  Table [dbo].[CTPHIEUMUON]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUMUON](
	[MAPHIEUMUON] [int] NOT NULL,
	[MaTB] [nvarchar](30) NOT NULL,
	[SVMUON] [nvarchar](15) NOT NULL,
	[TRANGTHAI] [tinyint] NOT NULL CONSTRAINT [DF_CTPHIEUMUON_TRANGTHAI]  DEFAULT ((3)),
 CONSTRAINT [PK_CTPhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITB]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITB](
	[MALOAI] [nvarchar](20) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_LoaiTbi] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1000,1) NOT NULL,
	[NIENKHOA] [nvarchar](15) NOT NULL,
	[HOCKY] [tinyint] NOT NULL,
	[MONHOC] [nvarchar](50) NOT NULL,
	[NHOM] [tinyint] NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[CMND] [varchar](15) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SDT] [varchar](30) NOT NULL,
	[TAIKHOAN] [nvarchar](30) NULL,
	[DANGLAMVIEC] [bit] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[MAPHG] [nvarchar](20) NOT NULL,
	[LOPTC] [int] NOT NULL,
	[THOIDIEMMUON] [smalldatetime] NULL,
	[HANTRA] [smalldatetime] NOT NULL,
	[THOIDIEMTRA] [smalldatetime] NULL,
	[NGUOILAPPHIEU] [varchar](20) NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nvarchar](20) NOT NULL,
	[TRANGTHAI] [tinyint] NOT NULL CONSTRAINT [DF_PHONG_TRANGTHAI]  DEFAULT ((0)),
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](15) NOT NULL,
	[TENSV] [nvarchar](50) NOT NULL,
	[LOP] [nvarchar](20) NULL,
 CONSTRAINT [PK_NguoiMuon] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [nvarchar](30) NOT NULL,
	[MATKHAU] [varchar](100) NULL,
	[LOAITAIKHOAN] [nvarchar](20) NULL,
 CONSTRAINT [PK_TaiKHoann] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATBI] [nvarchar](30) NOT NULL,
	[LOAITBI] [nvarchar](20) NOT NULL,
	[MAPHONG] [nvarchar](20) NULL,
	[TINHTRANGTB] [tinyint] NOT NULL CONSTRAINT [DF_CTTHIETBI_TINHTRANGTB]  DEFAULT ((0)),
 CONSTRAINT [PK_ChiTietTBi] PRIMARY KEY CLUSTERED 
(
	[MATBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MaTinhTrang] [tinyint] NOT NULL,
	[TenTinhTrang] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[dsPhieuMuonQuaHan]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[dsPhieuMuonQuaHan]
as
select * from phieuMuon 
where thoidiemtra is null and hanTra <GETDATE()
GO
INSERT [dbo].[CTPHIEUMUON] ([MAPHIEUMUON], [MaTB], [SVMUON], [TRANGTHAI]) VALUES (120, N'HDMI1', N'N15DCCN001', 3)
INSERT [dbo].[CTPHIEUMUON] ([MAPHIEUMUON], [MaTB], [SVMUON], [TRANGTHAI]) VALUES (120, N'HDMI2', N'N15DCCN001', 3)
INSERT [dbo].[CTPHIEUMUON] ([MAPHIEUMUON], [MaTB], [SVMUON], [TRANGTHAI]) VALUES (120, N'HDMI3', N'N15DCCN001', 3)
INSERT [dbo].[LOAITB] ([MALOAI], [TENLOAI]) VALUES (N'HDMI', N'Cáp HDMI')
INSERT [dbo].[LOAITB] ([MALOAI], [TENLOAI]) VALUES (N'KEY', N'Chìa Khóa')
INSERT [dbo].[LOAITB] ([MALOAI], [TENLOAI]) VALUES (N'MC', N'Máy Chiếu')
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MONHOC], [NHOM]) VALUES (1052, N'2021-2022', 1, N'Công Nghệ Phần Mềm', 2)
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MONHOC], [NHOM]) VALUES (1054, N'2021-2022', 1, N'Lập Trình Web', 2)
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MONHOC], [NHOM]) VALUES (1053, N'2021-2022', 1, N'Xử lý ảnh', 1)
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CMND], [EMAIL], [SDT], [TAIKHOAN], [DANGLAMVIEC]) VALUES (N'NV02', N'Lê Thanh Tùng', N'176524442', N'anhle180101@gmail.com', N'0912763162', N'pa', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CMND], [EMAIL], [SDT], [TAIKHOAN], [DANGLAMVIEC]) VALUES (N'NV03', N'Hoàng Thùy Linh', N'192637722', N'fromcn3withlove@gmail.com', N'0912684797', N'htl', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CMND], [EMAIL], [SDT], [TAIKHOAN], [DANGLAMVIEC]) VALUES (N'NV04', N'Lê Phương Anh', N'192637722', N'anhle180101@gmail.com', N'0912635262', N'lpa', 1)
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([MAPM], [MAPHG], [LOPTC], [THOIDIEMMUON], [HANTRA], [THOIDIEMTRA], [NGUOILAPPHIEU]) VALUES (120, N'2A08', 1050, CAST(N'2022-05-31 05:26:00' AS SmallDateTime), CAST(N'2022-05-31 05:32:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[PHIEUMUON] ([MAPM], [MAPHG], [LOPTC], [THOIDIEMMUON], [HANTRA], [THOIDIEMTRA], [NGUOILAPPHIEU]) VALUES (121, N'2A16', 1052, CAST(N'2022-05-31 05:29:00' AS SmallDateTime), CAST(N'2022-05-31 12:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[PHIEUMUON] ([MAPM], [MAPHG], [LOPTC], [THOIDIEMMUON], [HANTRA], [THOIDIEMTRA], [NGUOILAPPHIEU]) VALUES (122, N'2A36', 1051, CAST(N'2022-05-31 05:34:00' AS SmallDateTime), CAST(N'2022-05-31 12:00:00' AS SmallDateTime), CAST(N'2022-05-31 05:35:00' AS SmallDateTime), NULL)
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI]) VALUES (N'2A08', 1)
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI]) VALUES (N'2A16', 1)
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI]) VALUES (N'2A36', 0)
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [LOP]) VALUES (N'N15DCCN001', N'Lê Văn A', N'D19CQCN03')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [LOP]) VALUES (N'N15DCCN002', N'Nguyễn Văn Ba', N'D19CQCN03')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [LOP]) VALUES (N'N15DCCN003', N'Lê Bá Nhật', N'D19CQCN03')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'admin', N'   Fd‹œ¡ÊÌ…(“ åŽK~b	', N'admin')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'htl', N'   YŠëxËßê?:’ñùd$ßJ<‡C¶', N'user')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'lpa', N'    dY›''µ·/IöÎ˜Wá)ÞoHaJQ6å', N'user')
INSERT [dbo].[THIETBI] ([MATBI], [LOAITBI], [MAPHONG], [TINHTRANGTB]) VALUES (N'HDMI1', N'HDMI', N'CSVC', 1)
INSERT [dbo].[THIETBI] ([MATBI], [LOAITBI], [MAPHONG], [TINHTRANGTB]) VALUES (N'HDMI2', N'HDMI', N'CSVC', 1)
INSERT [dbo].[THIETBI] ([MATBI], [LOAITBI], [MAPHONG], [TINHTRANGTB]) VALUES (N'HDMI3', N'HDMI', N'CSVC', 1)
INSERT [dbo].[TRANGTHAI] ([MaTinhTrang], [TenTinhTrang]) VALUES (0, N'Sẵn Sàng Cho Mượ')
INSERT [dbo].[TRANGTHAI] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Đang Cho Mượn')
INSERT [dbo].[TRANGTHAI] ([MaTinhTrang], [TenTinhTrang]) VALUES (2, N'Bảo Trì')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_LOPTINCHI]    Script Date: 6/2/2022 9:51:12 PM ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [IX_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MONHOC] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_NHANVIEN]    Script Date: 6/2/2022 9:51:12 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[SDT] ASC,
	[CMND] ASC,
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__8C5E6104828F0910]    Script Date: 6/2/2022 9:51:12 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_PHIEUMUON] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPM])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPhieuMuon_PHIEUMUON]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_SINHVIEN] FOREIGN KEY([SVMUON])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPhieuMuon_SINHVIEN]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_THIETBI] FOREIGN KEY([MaTB])
REFERENCES [dbo].[THIETBI] ([MATBI])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPhieuMuon_THIETBI]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_TrangThai] FOREIGN KEY([TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPhieuMuon_TrangThai]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_LOPTINCHI] FOREIGN KEY([LOPTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_LOPTINCHI]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_NHANVIEN] FOREIGN KEY([NGUOILAPPHIEU])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_PHONG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_Phong_TrangThai] FOREIGN KEY([TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_Phong_TrangThai]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTBi_LoaiTbi] FOREIGN KEY([LOAITBI])
REFERENCES [dbo].[LOAITB] ([MALOAI])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_ChiTietTBi_LoaiTbi]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTBi_Phong] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_ChiTietTBi_Phong]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_CTThietBi_TrangThai] FOREIGN KEY([TINHTRANGTB])
REFERENCES [dbo].[TRANGTHAI] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_CTThietBi_TrangThai]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [check_trangthai_CTPM] CHECK  (([TrangThai]='5' OR [TrangThai]='4' OR [TrangThai]='3'))
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [check_trangthai_CTPM]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [check_HanTra] CHECK  (([HANTRA]>[THOIDIEMMUON]))
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [check_HanTra]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [check_thoiDiemTra] CHECK  (([THOIDIEMTRA]>[THOIDIEMMUON]))
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [check_thoiDiemTra]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [check_TrangThai_Phong] CHECK  (([TRANGTHAI]='7' OR [TRANGTHAI]='2' OR [TRANGTHAI]='1' OR [TRANGTHAI]='0'))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [check_TrangThai_Phong]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [check_tinhtrangTB] CHECK  (([TINHTRANGTB]='5' OR [TINHTRANGTB]='2' OR [TINHTRANGTB]='1' OR [TINHTRANGTB]='0'))
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [check_tinhtrangTB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ac]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ac]
as
declare @ma_next char(30)
set @ma_next='5vadvvavva'
select @ma_next
GO
/****** Object:  StoredProcedure [dbo].[sp_baomatthietbi]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_baomatthietbi] (@MaTB nvarchar(30))
as  

	/* SP Thông báo mất thiết bị
	Cập nhật lại trạng thái thiết= 5(mất)
	*/
	 begin
			update CTTHIETBI
			set TINHTRANGTB='5'
		  where CTTHIETBI.MATBI=@MaTB
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_baotriphong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_baotriphong] (@Phong nvarchar(20))
as  

	/* SP Bảo Trì Phòng
	Cập nhật lại trạng thái phòng = 2(bảo trì)
	*/
  
	 begin
			update phong
			set TRANGTHAI='2'
		  where phong.MAPHONG=@Phong
	end

GO
/****** Object:  StoredProcedure [dbo].[sp_baotrithietbi]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_baotrithietbi] (@MaTB nvarchar(30))
as  

	/* SP Thông báo bảo trì thiết bị
	Cập nhật lại trạng thái thiết= 2(bảo trì)
	Chỉ có thể bảo trì những thiết bị đang ở trong kho (trạng thai 0)
	*/
  if exists(select * from CTTHIETBI where CTTHIETBI.MATBI=@MaTB and TINHTRANGTB='0')
	 begin
			update CTTHIETBI
			set TINHTRANGTB='2'
		  where CTTHIETBI.MATBI=@MaTB
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_changepass]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_changepass] @UserName varchar(30), @PassOld varchar(100),@PassNew varchar(100),@Result bit output
	 as

		set @UserName=CAST(@UserName AS varchar(30))
		set @PassOld=CAST(@PassOld as varchar(100))
		set @PassNew=CAST(@PassNew AS varchar(100))
		Declare @KhoaMaHoa varchar(100)
		set @KhoaMaHoa =(select MATKHAU from TAIKHOAN
					where TENTAIKHOAN=@UserName)
	
		Declare @KhoaGiaiMa varchar(100)
		set @KhoaGiaiMa =(select convert(varchar(100),DecryptByPassPhrase('qltbptit', @KhoaMaHoa)))
		 if(@PassOld = @KhoaGiaiMa)
		 begin
			update TaiKhoan
			set MATKHAU=@PassNew
			where TENTAIKHOAN=@UserName
			set @Result=1;
		 end
		else 
		set @Result=0;
GO
/****** Object:  StoredProcedure [dbo].[sp_getThietBiTrong_Phong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_getThietBiTrong_Phong]
as
select LoaiTBI, maPhong, count(MATbi) as SoLuong
  from CTTHIETBI 
group by LoaiTBI, maPhong,TINHTRANGTB
having maphong='2A08' and TINHTRANGTB='0'
GO
/****** Object:  StoredProcedure [dbo].[sp_hoantatbaotriphong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_hoantatbaotriphong] (@Phong nvarchar(20))
as  
	/* SP Ghi  Nhận Hoàn Tất Bảo Trì Phòng
	Nếu phòng đang ở trạng thái 2 (bảo trì) thì tiến hành cập nhật
	Tiến hành tìm lại trạng thái hiện tại của phòng
	*/
    if exists(select * from Phong where phong.MAPHONG=@Phong  and phong.TRANGTHAI='2')
	 begin 
					   /* nếu tất cả phiếu mượn của phòng vừa cập nhật chưa trả hết thì tiếp tục kiểm tra
									nếu tồn tại 1 phiếu mượn chưa hết hạn trả thì sset lại trang thái phòng = 1(đang cho mượn)
									nếu tất cả phiếu mượn đều đã quá hạn trả thì sset lại trang thái phòng = 7(có PM chưa trả)
						*/
					   if exists ( select * from PHIEUMUON where PHIEUMUON.MAPHG=@Phong and PHIEUMUON.THOIDIEMTRA is null )
							 begin
								if exists ( select * from PHIEUMUON where PHIEUMUON.MAPHG=@Phong and PHIEUMUON.THOIDIEMTRA is null and PHIEUMUON.HANTRA > CURRENT_TIMESTAMP)
									  begin 
											update Phong
										set Phong.TRANGTHAI='1'
										where PHONG.MAPHONG=(@Phong)
									  end
				
								 else 
									begin 
											update Phong
										set Phong.TRANGTHAI='7'
										where PHONG.MAPHONG=@Phong
									  end

							 end
					  else
					   /*còn không nếu tất cả phiếu mượn của phòng vừa cập nhật đã được trả hết thì set lại trang thái phòng =0(sẵn sàng cho mượn)*/
						begin
							update Phong
							set Phong.TRANGTHAI='0'
							where PHONG.MAPHONG=@Phong
						end
			
		end
	else
	   print(N'Phòng này hiện đang không bảo trì')
	
GO
/****** Object:  StoredProcedure [dbo].[sp_hoantatbaotrithietbi]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_hoantatbaotrithietbi] (@MaTB nvarchar(30))
as  

	/* SP Thông báo hoàn thành bảo trì thiết bị
	Cập nhật lại trạng thái thiết= 0(sẵn sàng cho mượn)
	
	*/
  if exists(select * from CTTHIETBI where CTTHIETBI.MATBI=@MaTB and TINHTRANGTB='2')
	 begin
			update CTTHIETBI
			set TINHTRANGTB='0'
		  where CTTHIETBI.MATBI=@MaTB
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemTraDangNhap]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_kiemTraDangNhap] @UserName char(30), @Pass char(100),@Result bit output
	 as

     
		Declare @KhoaMaHoa varchar(100)
		set @KhoaMaHoa =(select MATKHAU from TAIKHOAN
					where TENTAIKHOAN=@UserName)
	
		Declare @KhoaGiaiMa varchar(100)
		set @KhoaGiaiMa =(select convert(varchar(100),DecryptByPassPhrase('qltbptit', @KhoaMaHoa)))
		
	    if exists (select * from TAIKHOAN
					where TENTAIKHOAN=@UserName and  @Pass=@KhoaGiaiMa
		) 
		 begin 
			set @Result=1;
			end
		else 
		set @Result=0;
GO
/****** Object:  StoredProcedure [dbo].[sp_listChoPhepMuon]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_listChoPhepMuon]
as
select phong.maPhong, loaiTB.tenLoai, count(MATbi),loaiTB.maLoai FROM CTThietBi,phong,loaiTB
where CTTHIETBI.MAPHONG= PHONG.MAPHONG and CTTHIETBI.MATBI=LOAITB.MALOAI
				group by phong.maPhong,loaiTB.tenLoai, tinhTrangTB,loaiTB.maLoai  
				having (phong.maPhong = '2A08' or phong.maPhong= 'CSVC') and tinhTrangTB= '1'
				order by phong.maPhong
GO
/****** Object:  StoredProcedure [dbo].[sp_phong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_phong]
as
update phong
set trangthai='1'
where maphong='2a16'
GO
/****** Object:  StoredProcedure [dbo].[sp_resetPass]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_resetPass] @MaNV varchar(20)
as

 /*  sp reset pass nhan vien*/

    update TAIKHOAN
	set MATKHAU='1'
	where TENTAIKHOAN=(select TENTAIKHOAN from TAIKHOAN a join NHANVIEN b on a.TENTAIKHOAN=b.TAIKHOAN where b.MANV=@MaNV)

GO
/****** Object:  StoredProcedure [dbo].[sp_SinhID_CTThietBi]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_SinhID_CTThietBi] @LoaiTB nvarchar(20)
as
begin
declare @ma_next varchar(30)
declare @max int
select @max=COUNT(MATBI)+1 from THIETBI
							where LOAITBI =@LoaiTB 
set @ma_next = UPPER(@LoaiTB)+CAST(@max as nvarchar(20))

while ( exists (select MATBI from THIETBI where MATBI=@ma_next))
begin
 set @max=@max+1
 set @ma_next=  UPPER(@LoaiTB)+CAST(@max as nvarchar(20))
 end
 select @ma_next
 end
GO
/****** Object:  StoredProcedure [dbo].[sp_test]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_test] 
as
begin
declare @ma_next char(30)
declare @max int
select @max=COUNT(MATBI)+1 from CTTHIETBI
							where LOAITBI ='Key' and MAPHONG ='2A08'

set @ma_next = UPPER('2A08'+'Key')+RIGHT(CAST(@max as nvarchar(20)),20)

while ( exists (select MATBI from CTTHIETBI where MATBI=@ma_next))
begin
 set @max=@max+1
 set @ma_next=  UPPER('2A08'+'Key')+RIGHT(CAST(@max as nvarchar(20)),20)
 end
 select @ma_next
 end
GO
/****** Object:  Trigger [dbo].[tg_checktrangthai_ThietBi]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_checktrangthai_ThietBi]
ON [dbo].[CTPHIEUMUON]
AFTER  insert
AS   
     /*trigger kiểm tra xem thiết bị có sẵn sàng cho mượn ko*/
	 /*Nếu thiết bị muốn mượn đang ở trạng thái = 0(sẵn sàng cho mượn) thì cho phép mượn 
						và cập nhật lại tình trạng thiết bị đó = 1(đang cho mượn)
	   Còn không thì không cho mượn tiến hành rollback lại*/
    IF  exists(select *
     From THIETBI a Inner Join INSERTED b On a.MATBI = b.MaTB
	 where a.TINHTRANGTB='0')
        begin
				update THIETBI
				set TINHTRANGTB='1'
				where THIETBI.MATBI=(select MaTB from inserted)
		end
	else

		begin
			Print 'Không thể mượn thiết bị này'
			RollBack Tran
		End

GO
/****** Object:  Trigger [dbo].[tg_TraThietBi]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_TraThietBi]
ON [dbo].[CTPHIEUMUON]
AFTER  update
AS 
		/* trigger cập nhật lại trạng thái thiết bị khi trả thiết bị*/

		/* Nếu thiết bị được trả (4) thì cập nhật lại tình trang thiết bị = 0 (sẵn sàng cho mượn)
			Nếu thiết bị bị mất (5) thì cập nhật lại tình trang thiết bị = 5 (đã mất)
		*/
    if exists( select * From  INSERTED b where b.TRANGTHAI='4')
		begin
			update THIETBI
			set THIETBI.TINHTRANGTB='0'
			where THIETBI.MATBI=(select MaTB from inserted)
		end
	else 
		 begin
		update THIETBI
		set THIETBI.TINHTRANGTB='5'
		where THIETBI.MATBI=(select MaTB from inserted)
		end

GO
/****** Object:  Trigger [dbo].[tg_update_thoigiantra]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_update_thoigiantra]
ON [dbo].[CTPHIEUMUON]
AFTER  update
AS 
    /* Trigger update thời gian trả của phiếu mươn
		Thời gian trả sẽ được cập nhật khi phiếu mượn không còn field nào đang ở trạng thái 3 (chưa trả)
	 */
	update PhieuMuon
	set PhieuMuon.ThoiDiemTra=(SELECT CAST(GETDATE() AS SMALLDATETIME))
	where PhieuMuon.MaPM=(select MaPhieuMuon from inserted)
			and  PhieuMuon.MaPM not in (select MaPhieuMuon from CTPhieuMuon where CTPhieuMuon.TrangThai='3')

GO
/****** Object:  Trigger [dbo].[tg_FormatMaNV]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[tg_FormatMaNV]
on [dbo].[NHANVIEN]
after insert
as
    declare @ma_next varchar(20)
	declare @max int
	select @max=COUNT(MANV)+1 from NHANVIEN

set @ma_next = 'NV0'+CAST(@max as varchar(20))

while ( exists (select MANV from NhanVien where MANV=@ma_next))
begin
 set @max=@max+1
 set @ma_next=  'NV0'+CAST(@max as varchar(20))
 end
     update NHANVIEN
	 set MANV=@ma_next 
	 where MANV= (select MANV from inserted)
	
GO
/****** Object:  Trigger [dbo].[tg_checkupdate_thoidiemtra]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_checkupdate_thoidiemtra]
ON [dbo].[PHIEUMUON]
AFTER  update
AS   
    /*Nếu thông tin hạn trả được cập nhập và chi tiết của phiếu mượn đó có 1 thiết bị chưa trả thì không cho phép cập nhật thời gian trả*/
    IF  exists(select *
     From deleted a Inner Join INSERTED b On a.MAPM= b.MAPM
	 where a.thoidiemtra is null and b.thoidiemtra is not null)
		begin
		  
		     IF  exists(select *
				From CTPHIEUMUON a Inner Join INSERTED b On a.MAPHIEUMUON = b.MAPM
				where a.TRANGTHAI ='3')
				  begin
					Print 'Thiết bị chưa được trả hết !!'
					RollBack Tran
				end
		End

GO
/****** Object:  Trigger [dbo].[tg_disableupdate_thoigianmuontra]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[tg_disableupdate_thoigianmuontra]
ON [dbo].[PHIEUMUON]
AFTER  update
AS   
    /*Nếu thông tin hạn trả được cập nhập và chi tiết của phiếu mượn đó có 1 thiết bị chưa trả thì không cho phép cập nhật thời gian trả*/
    IF  exists(select *
     From deleted a Inner Join INSERTED b On a.MAPM= b.MAPM
	 where (a.THOIDIEMMUON is not null and a.THOIDIEMMUON != b.THOIDIEMMUON ) or (a.thoidiemtra is not null and a.thoidiemtra != b.thoidiemtra ))
	 begin
					Print 'Không Thể sửa thời gian mượn trả  !!'
					RollBack Tran
				end

GO
/****** Object:  Trigger [dbo].[tg_thoigianmuon_insert]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_thoigianmuon_insert]
ON [dbo].[PHIEUMUON]
AFTER  INSERT
AS
  /* set thời điểm mượn thành thời gian thực*/
   update PhieuMuon
   set ThoiDiemMuon=(SELECT CAST(GETDATE() AS SMALLDATETIME))
   where PHIEUMUON.MAPM=(select MAPM from inserted)

GO
/****** Object:  Trigger [dbo].[tg_trangthaiPhong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_trangthaiPhong]
ON [dbo].[PHIEUMUON]
AFTER  insert
AS   
    /*kiểm tra khi thêm phiếu mượn mới
	nếu trạng thái phòng mượn là 2 (đang bảo trì) thì ko cho phép mượn rollback lại
	còn không thì cho mượn  và set lại trạng thái phòng = 1(đã cho mượn)
	*/
    IF  exists(select *
     From Phong a Inner Join INSERTED b On a.MAPHONG = b.MAPHG
	 where a.TRANGTHAI='2')
        begin
			Print 'Phòng đang bảo trì không thể mượn'
			RollBack Tran
		End
	else
		begin
				update Phong
				set Phong.TRANGTHAI='1'
				where PHONG.MAPHONG=(select MAPHG from inserted)
		end

GO
/****** Object:  Trigger [dbo].[tg_traPhong]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tg_traPhong]
ON [dbo].[PHIEUMUON]
AFTER  update
AS 
  /*   set trạng thái phòng khi trả phiếu mượn
		nếu:  trạng thái phòng đang =2 (bảo trì) thì ghi nhận trả phiếu mượn nhưng không set lại trạng thái phòng
  */
   if exists(select *
			From Phong a Inner Join INSERTED b On a.MAPHONG= b.MAPHG
			where a.TRANGTHAI ='2')
		begin
			Print 'Phong dang bao trì !!'
		end
	else
		begin
		   /* Nếu việc update thay đổi thời điểm trả thì tiếp tục kiểm tra*/
			IF  exists(select *
						From deleted a Inner Join INSERTED b On a.MAPM= b.MAPM
						where a.thoidiemtra is null and b.thoidiemtra is not null)

					 begin
					   /* nếu tất cả phiếu mượn của phòng vừa cập nhật chưa trả hết thì tiếp tục kiểm tra
									nếu tồn tại 1 phiếu mượn chưa hết hạn trả thì sset lại trang thái phòng = 1(đang cho mượn)
									nếu tất cả phiếu mượn đều đã quá hạn trả thì sset lại trang thái phòng = 7(có PM chưa trả)
						*/
					   if exists ( select * from PHIEUMUON where PHIEUMUON.MAPHG=(select MAPHG from inserted) and PHIEUMUON.THOIDIEMTRA is null )
							 begin
								if exists ( select * from PHIEUMUON where PHIEUMUON.MAPHG=(select MAPHG from inserted)and PHIEUMUON.THOIDIEMTRA is null and PHIEUMUON.HANTRA > CURRENT_TIMESTAMP)
									  begin 
											update Phong
										set Phong.TRANGTHAI='1'
										where PHONG.MAPHONG=(select MAPHG from inserted)
									  end
				
							 else 
							  begin 
											update Phong
										set Phong.TRANGTHAI='7'
										where PHONG.MAPHONG=(select MAPHG from inserted)
									  end

									  end
					  else
					   /*còn không nếu tất cả phiếu mượn của phòng vừa cập nhật đã được trả hết thì set lại trang thái phòng =0(sẵn sàng cho mượn)*/
						begin
							update Phong
							set Phong.TRANGTHAI='0'
							where PHONG.MAPHONG=(select MAPHG from inserted)
						end
			
					end
					end

GO
/****** Object:  Trigger [dbo].[mahoakhoa]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[mahoakhoa]
on [dbo].[TAIKHOAN]
after insert,update
  as
     Declare @Khoa varchar(100)
	 set @Khoa =(select a.MATKHAU from inserted a)
	 print(@Khoa)
	 update TaiKhoan
	set MATKHAU =  (select  EncryptByPassPhrase('qltbptit', @Khoa) )
    where TAIKHOAN.TENTAIKHOAN = (select TENTAIKHOAN from inserted)

GO
/****** Object:  Trigger [dbo].[tg_disable_update]    Script Date: 6/2/2022 9:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[tg_disable_update]
on [dbo].[TRANGTHAI]
after update
as
  begin
			Print 'Không thể sửa tình trạng'
			RollBack Tran
		End
		
GO
USE [master]
GO
